body {
    background-image: url("https://www.shutterstock.com/video/clip-27087382-stock-footage-bitcoins-falling-on-pile-cryptocurrency-digital-internet-money-d-background-bitcoin-currency.html");
    color: white;
}

.crypto-btn {
    background-color: orange;
    border:black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#displayGifs {
    margin-left: auto;
}

.search {
    color: white;
    
}
